.Overflow1 {
  overflow-x: hidden;
}

.Overflow2 {
  overflow-x: hidden;
  margin-top: 80px;
}

.Overflow3 {
  overflow-x: hidden;
  margin-top: 80px;
}

body {
  overflow-x: hidden;
}

.logo {
  width: 160px;
}

.MainPfp {
  box-shadow: 0px 3px 40px;
}


.text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  margin-left: -50px;
  border-right: 2px solid rgb(0, 0, 0);
}

.text1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-right: 2px solid rgb(0, 0, 0);
}

.mint {
  margin-left: -50px;
  margin-right: -50px;
}

.photo1 {
  margin-left: -10px;
  margin-right: -20px;
}

.photo2 {
  margin-left: -20px;
  margin-right: -20px;
}

.photo3 {
  margin-left: -20px;
  margin-right: -10px;
}

.XO4 {
  position: absolute;
  width: 300px;
  right: 20px;
  top: -33px;
  rotate: 235deg;
}

.XO5 {
  position: absolute;
  width: 300px;
  left: 20px;
  top: -45px;
}