.Overflow1 {
  overflow-x: hidden;
}

.Overflow2 {
  overflow-x: hidden;
  margin-top: 80px;
}

@media (max-width: 1410px) {
  .Overflow2 {
  margin-top: 55px;
  }
}

.Overflow3 {
  overflow-x: hidden;
  margin-top: 80px;
}

@media (max-width: 1410px) {
  .Overflow3 {
  margin-top: 55px;
  }
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  width: 160px;
}

@media(max-width: 1100px) {
  .logo {
    margin-left: 20px;
  }
}

.MainPfp {
  box-shadow: 0px 3px 40px;
}


.text {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  margin-left: -50px;
  border-right: 2px solid rgb(0, 0, 0);
}

.text1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  border-right: 2px solid rgb(0, 0, 0);
}

.mint {
  margin-left: -50px;
  margin-right: -50px;
}

.photo1 {
  margin-left: -10px;
  margin-right: -20px;
}

.photo2 {
  margin-left: -20px;
  margin-right: -20px;
}

.photo3 {
  margin-left: -20px;
  margin-right: -10px;
}

.XO4 {
  position: absolute;
  width: 280px;
  right: 30px;
  top: -25px;
  rotate: 235deg;
}

@media(max-width: 1280px) {
  .XO4 {
    width: 250px;
    top: -20px;
    right: 20px; 
  }
}

@media(max-width: 1186px) {
  .XO4 {
    width: 220px;
    top: -20px;
    right: 20px; 
  }
}

@media(max-width: 1155px) {
  .XO4 {
    width: 200px;
    top: -20px;
    right: 20px; 
  }
}

@media(max-width: 1100px) {
  .XO4 {
  display: none;
  }
}


.XO5 {
  position: absolute;
  width: 300px;
  left: 1%;
  top: -45px;
}

@media(max-width: 1280px) {
  .XO5 {
    width: 250px;
    top: -30px;
  }
}

@media(max-width: 1186px) {
  .XO5 {
    width: 220px;
    top: -20px;
    left: 0px;
  }
}

@media(max-width: 1155px) {
  .XO5 {
    width: 200px;
    top: -20px;
    right: 20px; 
  }
}

@media(max-width: 1100px) {
  .XO5 {
  display: none;
  }
}

a {
  color: white;
}

li {
  color: white;
}

a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }